<ul class="list-group">
  <% @preview_events.first(3).each do |event_day| %>
  <li class="media home-list-item">
    <%= render partial: 'event_day_item', locals: {day: event_day} %>
  </li>
  <% end %>
</ul>
