<% video_one = rand(10) %>
<% video_two = video_one + 50 %>
<div class="home-list-item embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=UUtxCXg-UvSnTKPOzLH4wJaQ&hl=en_US&index=<%= video_one %>" allowfullscreen></iframe>
</div>
<div class="home-list-item embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=UUtxCXg-UvSnTKPOzLH4wJaQ&hl=en_US&index=<%= video_two %>" allowfullscreen></iframe>
</div>
