<div class="home justify-content-center">
  <div class="home-wrapper">
  <header class="home-header">Lodge</header>

    <article class="home-main">
      <h4>Upcoming Events</h4>
      <header class="display-6">Make Yourself Familiar With:</header>
      <%= render partial: 'upcoming_events' %>
    </article>

    <aside class="home-aside home-aside-1">
      <h4>Chairlift</h4>
      <header class="display-6">Move to the Learning Trails:</header>
      <%= render partial: 'topic_aside' %>
    </aside>

    <aside class="home-aside home-aside-2">
      <h4>Gondola</h4>
      <header class="display-6">Media Stuff to Look At:</header>
      <%= render partial: 'video_aside' %>
    </aside>

    <footer class="home-footer">
      <h4>Hot Cocoa</h4>
      <header class="display-6">Matz Quote of the Day:</header>
      <hr>
      <em>"<%= Faker::Matz.quote %>"</em>
    </footer>

  </div>
</div>
