---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 5df87cb17fcccc20ba4eed61a71f5de825b23c4a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4985'
      X-Ratelimit-Reset:
      - '1520546724'
      Etag:
      - W/"31fbb9a1a53b3fb621a9e544413e9d65"
      Last-Modified:
      - Sat, 03 Mar 2018 18:10:55 GMT
      X-Oauth-Scopes:
      - user, repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"kyle-annen","id":12836507,"avatar_url":"https://avatars3.githubusercontent.com/u/12836507?v=4","gravatar_id":"","url":"https://api.github.com/users/kyle-annen","html_url":"https://github.com/kyle-annen","followers_url":"https://api.github.com/users/kyle-annen/followers","following_url":"https://api.github.com/users/kyle-annen/following{/other_user}","gists_url":"https://api.github.com/users/kyle-annen/gists{/gist_id}","starred_url":"https://api.github.com/users/kyle-annen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kyle-annen/subscriptions","organizations_url":"https://api.github.com/users/kyle-annen/orgs","repos_url":"https://api.github.com/users/kyle-annen/repos","events_url":"https://api.github.com/users/kyle-annen/events{/privacy}","received_events_url":"https://api.github.com/users/kyle-annen/received_events","type":"User","site_admin":false,"name":"Kyle
        Annen","company":"8th Light","blog":"kyle-annen.github.io","location":"Chicago","email":null,"hireable":null,"bio":null,"public_repos":74,"public_gists":1,"followers":4,"following":2,"created_at":"2015-06-10T21:48:42Z","updated_at":"2018-03-03T18:10:55Z","private_gists":0,"total_private_repos":6,"owned_private_repos":5,"disk_usage":394315,"collaborators":0,"two_factor_authentication":true,"plan":{"name":"free","space":976562499,"collaborators":0,"private_repos":0}}'
  recorded_at: Thu, 08 Mar 2018 21:27:10 GMT
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 5df87cb17fcccc20ba4eed61a71f5de825b23c4a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1520546724'
      Etag:
      - W/"251a1271a5373d529dd84b1d149fc0dc3c58cc27"
      Last-Modified:
      - Sat, 18 Nov 2017 04:37:40 GMT
      X-Oauth-Scopes:
      - user, repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".gitignore","path":".gitignore","sha":"2bcc92b962f5e2d9c8c21bdd5afc46b4ec5b5a1a","size":7,"url":"https://api.github.com/repos/kyle-annen/test-repo/contents/.gitignore?ref=master","html_url":"https://github.com/kyle-annen/test-repo/blob/master/.gitignore","git_url":"https://api.github.com/repos/kyle-annen/test-repo/git/blobs/2bcc92b962f5e2d9c8c21bdd5afc46b4ec5b5a1a","download_url":"https://raw.githubusercontent.com/kyle-annen/test-repo/master/.gitignore","type":"file","_links":{"self":"https://api.github.com/repos/kyle-annen/test-repo/contents/.gitignore?ref=master","git":"https://api.github.com/repos/kyle-annen/test-repo/git/blobs/2bcc92b962f5e2d9c8c21bdd5afc46b4ec5b5a1a","html":"https://github.com/kyle-annen/test-repo/blob/master/.gitignore"}},{"name":"README.md","path":"README.md","sha":"dcf2c804da5e19d617a03a6c68aa128d1d1f89a0","size":14,"url":"https://api.github.com/repos/kyle-annen/test-repo/contents/README.md?ref=master","html_url":"https://github.com/kyle-annen/test-repo/blob/master/README.md","git_url":"https://api.github.com/repos/kyle-annen/test-repo/git/blobs/dcf2c804da5e19d617a03a6c68aa128d1d1f89a0","download_url":"https://raw.githubusercontent.com/kyle-anne[...]
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/clean-code
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 5df87cb17fcccc20ba4eed61a71f5de825b23c4a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-[...]
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/design
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 5df87cb17fcccc20ba4eed61a71f5de825b23c4a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Rate[...]
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/frameworks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 5df87cb17fcccc20ba4eed61a71f5de825b23c4a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-[...]
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/languages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 5df87cb17fcccc20ba4eed61a71f5de825b23c4a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-R[...]
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/platforms
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 5df87cb17fcccc20ba4eed61a71f5de825b23c4a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-R[...]
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/project-leadership
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 5df87cb17fcccc20ba4eed61a71f5de825b23c4a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
[...]
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/systems
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 5df87cb17fcccc20ba4eed61a71f5de825b23c4a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Rat[...]
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/tools
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 5df87cb17fcccc20ba4eed61a71f5de825b23c4a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratel[...]
