---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/kyle-annen?client_id=527ee24a6b737e0ddb3b&client_secret=c9e81247f8a6189281bfd731d6baefd3d042d187
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4980'
      X-Ratelimit-Reset:
      - '1512685038'
      Etag:
      - W/"7c114133e3fb9d6bd68ca3d41b2d9c97"
      Last-Modified:
      - Wed, 29 Nov 2017 17:54:17 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"kyle-annen","id":12836507,"avatar_url":"https://avatars3.githubusercontent.com/u/12836507?v=4","gravatar_id":"","url":"https://api.github.com/users/kyle-annen","html_url":"https://github.com/kyle-annen","followers_url":"https://api.github.com/users/kyle-annen/followers","following_url":"https://api.github.com/users/kyle-annen/following{/other_user}","gists_url":"https://api.github.com/users/kyle-annen/gists{/gist_id}","starred_url":"https://api.github.com/users/kyle-annen/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kyle-annen/subscriptions","organizations_url":"https://api.github.com/users/kyle-annen/orgs","repos_url":"https://api.github.com/users/kyle-annen/repos","events_url":"https://api.github.com/users/kyle-annen/events{/privacy}","received_events_url":"https://api.github.com/users/kyle-annen/received_events","type":"User","site_admin":false,"name":"Kyle
        Annen","company":null,"blog":"kyle-annen.github.io","location":"Chicago","email":null,"hireable":true,"bio":"Programming
        new stuff everyday...","public_repos":71,"public_gists":0,"followers":4,"following":2,"created_at":"2015-06-10T21:48:42Z","updated_at":"2017-11-29T17:54:17Z"}'
  recorded_at: Thu, 07 Dec 2017 21:30:34 GMT
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/?client_id=527ee24a6b737e0ddb3b&client_secret=c9e81247f8a6189281bfd731d6baefd3d042d187
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1512685038'
      Etag:
      - W/"a4261d939eee55dfd9b346b85180479d89847f16"
      Last-Modified:
      - Sat, 18 Nov 2017 04:37:40 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":".gitignore","path":".gitignore","sha":"2bcc92b962f5e2d9c8c21bdd5afc46b4ec5b5a1a","size":7,"url":"https://api.github.com/repos/kyle-annen/test-repo/contents/.gitignore?ref=master","html_url":"https://github.com/kyle-annen/test-repo/blob/master/.gitignore","git_url":"https://api.github.com/repos/kyle-annen/test-repo/git/blobs/2bcc92b962f5e2d9c8c21bdd5afc46b4ec5b5a1a","download_url":"https://raw.githubusercontent.com/kyle-annen/test-repo/master/.gitignore","type":"file","_links":{"self":"https://api.github.com/repos/kyle-annen/test-repo/contents/.gitignore?ref=master","git":"https://api.github.com/repos/kyle-annen/test-repo/git/blobs/2bcc92b962f5e2d9c8c21bdd5afc46b4ec5b5a1a","html":"https://github.com/kyle-annen/test-repo/blob/master/.gitignore"}},{"name":"README.md","path":"README.md","sha":"dcf2c804da5e19d617a03a6c68aa128d1d1f89a0","size":14,"url":"https://api.github.com/repos/kyle-annen/test-repo/contents/README.md?ref=master","html_url":"https://github.com/kyle-annen/test-repo/blob/master/README.md","git_url":"https://api.github.com/repos/kyle-annen/test-repo/git/blobs/dcf2c804da5e19d617a03a6c68aa128d1d1f89a0","download_url":"https://raw.githubusercontent.com/kyle-anne[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/clean-code?client_id=527ee24a6b737e0ddb3b&client_secret=c9e81247f8a6189281bfd731d6baefd3d042d187
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/design?client_id=527ee24a6b737e0ddb3b&client_secret=c9e81247f8a6189281bfd731d6baefd3d042d187
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
  [...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/frameworks?client_id=527ee24a6b737e0ddb3b&client_secret=c9e81247f8a6189281bfd731d6baefd3d042d187
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/languages?client_id=527ee24a6b737e0ddb3b&client_secret=c9e81247f8a6189281bfd731d6baefd3d042d187
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/platforms?client_id=527ee24a6b737e0ddb3b&client_secret=c9e81247f8a6189281bfd731d6baefd3d042d187
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/project-leadership?client_id=527ee24a6b737e0ddb3b&client_secret=c9e81247f8a6189281bfd731d6baefd3d042d187
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
     [...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/systems?client_id=527ee24a6b737e0ddb3b&client_secret=c9e81247f8a6189281bfd731d6baefd3d042d187
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
 [...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/kyle-annen/test-repo/contents/tools?client_id=527ee24a6b737e0ddb3b&client_secret=c9e81247f8a6189281bfd731d6baefd3d042d187
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
   [...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/clean-code/legacy-code.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"df0a42d82a29077385b1adbe44a05b7552d4ae8f"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - a3a6952582fbe01b7757aee6e737208c5c416c8d
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: |
        # Legacy Code

        Safely working within an older codebase that has problems: maybe insufficient automated testing, maybe poor design, maybe both.


        ## Level 1

        * Follow the [Refactoring learning trail](refactoring.md)


        ### You should be able to

        * Identify code smells and associated refactorings
        * Use IDE tooling where available to safely refactor smelly code
        * Take extremely small and safe refactoring steps even when there is no automated tooling


        ## Level 2

        * Read [this presentation on working with Legacy code](http://www.slideshare.net/nashjain/working-effectively-with-legacy-code-presentation)
        * Read [Working Effectively with Legacy Code](https://amzn.com/0131177052)


        ### You should be able to

        * Identify seams in existing code
        * Write Characterization Tests at the edges to allow fearless refactoring within
        * Sprout Method / Sprout Class
        * Identify and break problematic dependencies
  recorded_at: Thu, 07 Dec 2017 21:30:38 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/clean-code/refactoring.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"9bd4f986cae9d3beb240d8580e3d5c1400f4bdd3"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - bc1fd6ac264b88187396ffd4a4723d11b8baf5bb
      Sour[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/clean-code/software-design.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"17c24a7236fa267112d0d1dbdab2a1162037b021"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 549fcb3fa25a31ea2c1cc7c32583228f45e8b967
      [...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/clean-code/testing.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"6093e4475780d1bd154c37166dd3fa82d1e29525"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 61165f3bff2ae5c5a608b0555d84f04ab3f192ee
      Source-A[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/design/design.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"6abd072196605b726ee70c129b3f86bd1a1dd1dd"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 28cfdede3a105d538ed25c40edf1354512beb9d8
      Source-Age:
 [...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/design/grids.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c11d4b1e3a1ff155dacede270d69ac2803031f99"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - e460fc0c0c016cf6e7b3d506ac8577840299e2c9
      Source-Age:
  [...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/design/information-design.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"9720427b705f8e55461858e23f48f94e39ce9af4"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 9ab532e6eafb281222a61c351db581d48e0f0743
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: |
        # Information Design

        The skill and practice of preparing information so people can use it efficiently and effectively.

        ## Level 1

        * Read [Information Dashboard Design](http://amzn.to/information-dashboard)
        * Read [Envisioning Information](http://amzn.to/envisioning-information)
        * Read [The Visual Display of Quantitative Information](http://amzn.to/visual-display)
        * Read [A Practical Guide to Designing with Data](http://designingwithdata.com)

        ### You should be able to

        * Cleanly and clearly communicate information.
        * Identify chart junk, when to use it, and when not to use it.
        * Understand the basic chart/graph options (including bar (vertical/horizontal), line, pie, spark lines) and appropriate use cases for each.
  recorded_at: Thu, 07 Dec 2017 21:30:39 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/design/typography.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"7df2a0edb592ed1b5499a51874ed0910bc91b62e"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 6bb0be0f9c53e773de98f7d308764cd061865e90
      Source-Ag[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/design/visual-principles.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"420990226060a848f800e000dac77e364c25954c"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - fc1bdd2c8be4a8954c23851ca73c46f8e6b6c071
      So[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/design/web-design.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"90d41982f41b28ba3918f2c8620d8e9110bb39dc"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 169255b811f236fcc702a36dd02cc6561354dd09
      Source-Ag[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/frameworks/otp.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"f25a0348613020c356e96b7c86c598532a161b36"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 0ff04d7f4ada26de1fe6fb047913414083579a6c
      Source-Age:
[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/frameworks/rails.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ae2e6ea9b5be73447ada476ca0aaeabc5b7440b6"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - f1082066e9c0d376457337f20d596c11c445011f
      Source-Age[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/frameworks/react.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"06503527b120d34a8fb07fa862d776caeae1eacc"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 7abf7aee89d29d09876584c1c622d1e1e0e9c503
      Source-Age[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/frameworks/redux.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"dc7e042c99cf9fea7921b1bc0e1daab7bee710b5"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - c26cb1fa99208a3c48d212062d80451ab475db76
      Source-Age[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/languages/clojure.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"57535d7b24fac9abc37143e16ff8a809d1a10791"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 3474651a7f27e34cb9404eb1a3b48d22a3345020
      Source-Ag[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/languages/elixir.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"9d75b0e5a677a57b911d51a828c17d220df06413"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 95f24fa4919ef451895a1afc5b51665fa88579d0
      Source-Age[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/languages/html-css.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8047939a81164add7b47b564fd747b61d0801220"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 368e30c2b34bd8e0ed614540c8e6eb82789d6b2a
      Source-A[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/languages/java.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"5b834d71fe4f974503aaa9a0a09704775b6d6c00"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - ede24a5c7c3f1a533fe365105ea0bea19878d285
      Source-Age:
[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/languages/javascript.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c2618933ccf0d2284d76249de4ef3a8c00b44baa"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - f6b97e405b2095525205dd08049a250186ca27ae
      Source[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/languages/ruby.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c2628bf3c2c1ea8baca429558899acd3164414f3"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - f6e0e1358cb2e0d89bb2148ca92c395fc6eba563
      Source-Age:
[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/languages/sass.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e1a67526d4e00d9854af638992d0a483ca92324c"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 622f732849cf69c080df8486cc6bce6133748548
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: |
        # Sass

        A scripting language that is interpreted into CSS, that provides powerful functionality not provided by CSS live nesting, variables, and mixins.

        ## Level 1

        * Read the [Sass Tutorial](http://sass-lang.com/tutorial.html)
        * Read [open source Sass code](https://github.com/thoughtbot/bourbon/tree/master/app/assets/stylesheets)

        ### You should be able to

        * Create and use mixins.
        * Set and use variables.
        * Use nested selectors.
        * Use `@include` and `@extend`.

        ## Ongoing Reference

        * [Sass Documentation](http://sass-lang.com/documentation/file.SASS_REFERENCE.html)
  recorded_at: Thu, 07 Dec 2017 21:30:41 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/languages/sql.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"772576b05e0dd232c11a74cfc608a283d06eb2fa"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 9b7b5ee9246f01e07d9317a3c75c463b079f4e75
      Source-Age:
 [...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/languages/swift.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"008aa124a3464c2fe942b50d839857d3535efc3f"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - d07d783ffce35ec80c254a2ed647c98004895e93
      Source-Age:[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/platforms/android.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"064783d26b4796a3845fa842b3f0b10e9b5ebaa0"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 764d6debc03f50d60b8bdfdd2e25c5b36741f7cb
      Source-Ag[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/platforms/aws.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8ef8f060ff72c23d70e142c53803d2c3f33204f3"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 645f80343b0dca89b93f7fc9316a4ce79e0120cc
      Source-Age:
 [...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/platforms/heroku.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"94fbc12de2d570b01fe01096934feadb60554e9c"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - e9864f2f966d9542d44c8ba113ef328acdaa813d
      Source-Age[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/platforms/ios.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"19b7fa783a656a7db58c18598a1a30f68138cf35"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 9930bcd0bdb4f8be8e1a85a8ca5cdfbe248d9056
      Source-Age:
 [...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/platforms/unix.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3e519f3ecb191dc31c0a49ecc6dcfd7e1fdd0474"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - fb834eb27eeceaa2d39e479cc3297192f476d68b
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: |
        # UNIX

        A multitasking, multi-user computer operating system originally developed in 1969, variants of which now form the underpinning of many operating systems, including OS X, iOS, and Linux.

        ## Level 1

        * Read [The Linux Programming Interface](http://amzn.to/the-linux-programming-interface). Chapters 1,  2, 6, 8, 10, 14, 15, 18, 25, 44, 62.
        * Read [Learning the Shell](http://www.linuxcommand.org/lc3_learning_the_shell.php)
        * Read about [I/O redirection](http://en.wikipedia.org/wiki/Redirection_(computing)).

        ### You should be able to

        * Use these commands and operators: `|`, `<`, `>`, `>>`, `&`, `ack`, `awk`, `cat`, `chmod`, `chown`, `cp`, `export`, `find`, `kill`, `locate`, `ls`, `mkdir`, `mv`, `ps`, `rm`, `sed`, `sort`, `tail`, `top`, `vim`, `whereis`, `xargs`.
  recorded_at: Thu, 07 Dec 2017 21:30:42 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/project-leadership/code-review.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"ac1b7d46da5a46012a9ced08ce3965219c97dc56"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 4cce13e7302d8527d9dc9d06dc43746f878a14c4
  [...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/project-leadership/open-source.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"37c44e863de8717b17232bdd514caa8f317141eb"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 1211b7d323b09feb0e4c8e755a5ce18e7832e3db
  [...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/project-leadership/product-design.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b4b997ecc7c6d0d40823eb32d6bfba0507ac8f6f"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - cc8e0b2b5d3d2c45d83293a68733196aa8fd91bf
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: |
        # Product Design

        ## Level 1

        * Read [The Lean Startup](http://amzn.com/0307887898).
        * Read 37 Signal's [Getting Real](http://gettingreal.37signals.com)
        * Read 37 Signal's [Rework](http://37signals.com/rework)
        * Watch [Ryan Singer's UX Sketching and Prototyping screencasts](http://www.pluralsight.com/courses/play-by-play-ryan-singer)

        ### You should be able to

        * Define an MVP (Minimum Viable Product).
        * Explain the values of short product development cycles and iterative testing.
        * Write effective user stories.
        * Articulate your process in defining and solving interface problems.
        * Rapidly prototype.
  recorded_at: Thu, 07 Dec 2017 21:30:43 GMT
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/systems/continuous-delivery.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"caaaefb1a38b1c05aa3064542f8e94451a0dc65d"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - e281a62b2ede0122a631c007a9aec5515fe9c134
     [...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/kyle-annen/test-repo/master/systems/devops.md
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"6f472c917a68a40fbe23d383e03601fd3ccb9916"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - 3c1dfa047212600f761c434dd073cf78c4a5d637
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: |
        # DevOps

        ## Level 1

        * Read [What's DevOps?](https://jvns.ca/blog/2016/10/16/whats-devops/)

        ### You should be able to

        * Explain what DevOps means and how it relates to tools, teams, and processes
        * Use a configuration management tool like Chef, Puppet, or Ansible


        ## Level 2

        * Read [Effective DevOps](https://amzn.com/1491926309)

        ### You should be able to

[...]
