
<footer>
	<nav class="navbar fixed-bottom">
		<div class="container footer-container">
			<div class="row footer-row">
				<div class="col-md-4 footer-columns">
					<a href="http://8thlight.com">
						An 8th Light project
					</a>
				</div>
				<div class="col-md-4 footer-columns">
					<span>© 2017 8th Light, Inc.</span> 
				</div>
				<div class="col-md-4 footer-columns">
					<span>Live, learn, code</span>
				</div>
			</div>
		</div>
	</nav>
</footer>