<ul class="nav nav-tabs nav-fill" id="eventPreviewer" role="tablist">
  <li class="nav-item calendar-day-label">
    <a class="nav-link nav-link-color active" data-toggle="tab" href="#upcoming" role="tab">Upcoming</a>
  </li>
  <li class="nav-item calendar-day-label">
    <a class="nav-link nav-link-color" data-toggle="tab" href="#thisWeek" role="tab">This Week</a>
  </li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="upcoming" role="tabpanel">
    <% @upcoming.each do |event| %>
    <div class="media home-list-item">
      <%= render partial: 'event_day_item', locals: {day: event} %>
    </div>
    <% end %>
  </div>
  <div class="tab-pane" id="thisWeek" role="tabpanel">
    <% @this_week.each do |day| %>
    <div class="media home-list-item">
      <%= render partial: 'event_day_item', locals: {day: day} %>
    </div>
    <% end %>
  </div>
</div>
