<div class="container page-textbox">
  <div class="container">
    <h4 class="topic-page-summary">
      Learning Trails
    </h4>
    <%= render partial: 'learning_trails/index_partials/category_links' %>
    <% @categories.each do |category| %>
      <%= render partial: 'learning_trails/index_partials/category_title',
                 locals: { category: category } %>
      <% category.topics.each do |topic| %>
        <%= render partial: 'learning_trails/index_partials/topic_card',
                   locals: { topic: topic } %>
      <% end %>
    <% end %>
  </div>
</div>
