<div class="container-fluid page-textbox">
  <h3 class="topic-page-summary">Control Panel</h3>
  <div class="row">
    <% @panels.each do |panel| %>
      <form action="<%= "/control-panel/#{panel.downcase}"%>">
        <input class="<%= "control-panel-tab control-panel-#{@page == panel.downcase ? 'active' : 'inactive'}"%>"
               type="submit"
               value=<%= panel %> />
      </form>
    <% end %>
  </div>
  <br/>

  <% if @page == 'authorization' %>
    <%= render partial: 'control_panel/authorization' %>
  <% end %>
</div>



