<div class="container">
  <div class="jumbotron text-center">
    <h2>Welcome to Zagaku</h2><br/>
    <h4>Expedition proven Learning Trails to summit the Coding Mountain</h4><br/>
    <%= button_to "Sign in with Google to start your journey", user_google_oauth2_omniauth_authorize_path, {class: 'z-button'}  %>
  </div>
</div>

