// Place all the styles related to the GoogleCalendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$transition-speed: .3s;

.calendar-cell {
  @include transition($transition-speed);
  height: 180px;
  overflow: hidden;
  &:hover {
    @include transition($transition-speed);
    box-shadow: 3px 3px 10px #878787;
    background-color: white;
  }

}

.date-cell-header {
  font-weight: 600;
}

.calendar-date-year {
  text-align: center;
}

.calendar-date {
  font-size: 1.5em;
  
}

.calendar-day-label {
  font-size: 1.5em;
}




