.control-panel-tab {
  padding: 10px;
  margin: 5px;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 0 8px 6px -6px lightgrey;
  &:hover {
    box-shadow: 0 4px 5px -6px lightgrey;
  }
}

.control-panel-active {
  background: #b3b3b3;
}

.control-panel-inactive {
  background: #ffffff;
}