// Place all the styles related to the GoogleCalendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@mixin transition($duration) {
  -webkit-transition: $duration;
  -moz-transition: $duration;
  -ms-transition: $duration;
  -o-transition: $duration;
  transition: $duration;
}

$transition-speed: .3s;

.calendar-cell {
  @include transition($transition-speed);
  height: 180px;
  overflow: hidden;
  margin-top: 10px;
}

.calendar-cell-hover {
  @extend .calendar-cell;
  &:hover {
    @include transition($transition-speed);
    box-shadow: 3px 3px 10px #878787;
    background-color: white;
  }
}

.calendar-date-year {
  text-align: center;
}

.calendar-date {
  font-size: 1.8em;

}

.calendar-day-label {
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px;
  border-bottom: 1px solid lightgrey;
}

.calendar-event-time {
  margin: 10px 0 0 0;
  padding: 0;
}

.calendar-event-presenter {
  margin: 0 0 0 10px;
  padding: 0;
  font-weight: 600;
}

.calendar-event-summary {
  margin: 0 0 0 10px;
  padding: 0;

}




