// Place all the styles related to the GoogleCalendar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar-heading {
  text-align: center;
  > a {
    margin: 0 10px;
  }
}

.calendar-title {
  font-size: 2em;
}

.calendar-event-name {
  font-size: 0.8em;
}

.simple-calendar table tr td:nth-child(6),
.simple-calendar table tr th:nth-child(6) {
  display: none;
}

.simple-calendar table tr td:nth-child(7),
.simple-calendar table tr th:nth-child(7) {
  display: none;
}