.topic-title {
  text-align: center;
}

.topic-summary {
  text-align: center;
  margin-top: 50px;
}

.topic-level, .topic-goals {
  margin: 50px 0;
}


.topic-task-goal {
  line-height: 30px;
}

.topic-radio {
  height: 20px;
  width: 20px;
  border: 2px solid #575757;
  border-radius: 100%;
}

.topic-default-image {
	font-size: 5em;
	text-align: center;
}
