<% if @lessons.where(lesson_type: 'goal', level: level).size > 0 %>
  <h4 class="topic-goals">You should be able to:</h4>
  <% @lessons.where(lesson_type: 'goal', level: level).each do |lesson| %>
    <div class="row">
      <div class="col-md-1">
        <% if @user_lessons.where(lesson_id: lesson.id).first.complete %><span class="fa fa-check check-mark float-sm-right"></span>
        <%  end %>
      </div>
      <div class="col-md-9">
        <%= markdown.render(lesson.content).html_safe %>
      </div>
      <div class="col-md-2">
        <%= render partial: 'learning_trails/show_partials/goal_buttons',
                   locals: { lesson: lesson }%>
      </div>
    </div>
  <% end %>
<% end %>
