<% if !@user_lessons.where(lesson_id: lesson.id).first.complete %>
  <%= button_to "Mark as complete",
                complete_goal_path(user_lesson_id: @user_lessons.where(lesson_id: lesson.id).first.id,
                                   topic_id: @topic.id,
                                   name: "lesson_id_#{lesson.user_lessons.first.id}"),
                class: 'z-button topic-button float-sm-right',
                method: :post %> <a name=<%= "lesson_id_#{lesson.user_lessons.first.id}"%>></a>
<% else %>
  <%= button_to "Complete",
                reset_goal_path(user_lesson_id: @user_lessons.where(lesson_id: lesson.id).first.id,
                                topic_id: @topic['id'],
                                name: "lesson_id_#{lesson.user_lessons.first.id}"),
                class: 'z-button topic-button float-sm-right',
                method: :post %> <a name=<%= "lesson_id_#{lesson.user_lessons.first.id}"%>></a>
<% end %>
