<% if level['goals'].size > 0 %>
  <h4 class="topic-goals">You should be able to:</h4>
  <% level['goals'].each do |goal| %>
    <div class="row">
      <div class="col-md-1">
        <% unless !goal['complete'] %><span class="fa fa-check check-mark float-sm-right"></span><% end %>
      </div>
      <div class="col-md-9">
        <%= markdown.render(goal['content']).html_safe %>
      </div>
      <div class="col-md-2">
        <%= render partial: 'learning_trails/show_partials/goal_buttons',
                   locals: { goal: goal }%>
      </div>
    </div>
  <% end %>
<% end %>

