<% if @lessons.where(lesson_type: 'reference').size > 0 %>
  <h3>Ongoing References:</h3><br/>
  <% @lessons.where(lesson_type: 'reference').each do |reference| %>
    <div class="container">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11">
          <h4><%= markdown.render(reference.content).html_safe %></h4>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
