<% level['tasks'].each do |task| %>
  <div class="card topic-card">
    <div class="container">
      <div class="card-body">
        <h4 class="card-title"></h4>
        <div class="row">
          <div class="col-sm-1">
            <div class="check-mark card-check-mark">
              <% if task['complete'] %><%= fa_icon 'check' %><% end %>
            </div>
          </div>
          <div class="col-sm-9">
            <h5 class="card-text">
              <%= markdown.render(task['content']).html_safe %>
            </h5>
            <% unless task['link'].nil? %>
              <h7 href=<%=  task['link'].gsub(")","")  %>></h7>
            <% end %>
          </div>
          <div class="col-sm-2 float-sm-right align-bottom">
            <%= render partial: 'learning_trails/show_partials/task_buttons',
                       locals: { task: task } %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
