<%  if !task['complete']  %>
  <%=  button_to "Mark as complete",
                 complete_task_path(task_id: task['id'], topic_id: @topic['id'], name: "task_id_#{task['id']}"),
                 class: 'z-button topic-button float-md-right',
                 method: :post %><a name=<%= "task_id_#{task['id']}" %>></a>
<%  else  %>
  <%=  button_to "Completed",
                 reset_task_path(task_id: task['id'], topic_id: @topic['id'], name: "task_id_#{task['id']}"),
                 class: 'z-button topic-button float-md-right',
                 method: :post %><a name=<%= "task_id_#{task['id']}" %>></a>
<%  end  %>